

body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.yellow {
    background-color:#f99b45 ;
}

.pink {
    background-color: #d95980;
}

.green{
    background-color:#819ff9;
}

.purple {
    background-color:#63aac0;
}
.flash{
    background-color: #fff;
}
.userflash{
    background-color:green;
}

.red{
    color: red;
}